<%- include ("../layouts/adminheader"); -%>
  <h2 class="page-title">Add a product</h2>
  <a href="/admin/products" class="btn btn-primary">Back to all products</a>
  <br><br>

  <form action="/admin/products/add-product" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" name="title" placeholder='Title' value=<%= title %>>
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <textarea name="desc" id="ta" cols="30" rows="10" class="form-control" placeholder="Description"><%= desc %></textarea>
  </div>
  <div class="form-group">
    <label for="">Category</label>
    <select name="category" class="form-control">
      <% categories.forEach(function(cat) { %>
        <option value="<%= cat.slug %>"><%= cat.title %></option>
        
      <% }); %>
    </select>

  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text" class="form-control" name="price" placeholder="Price" value=<%= price %>>
  </div>

  <div class="form-group">
    <label for="">Image</label>
    <input type="file" class="form-control" name="image" id="img">
    <img src="#" id="imgPreview" alt="">
  </div>

  <input type="submit" class="btn btn-info" value="Submit">
  </form>

  <script>
    function readURL(input) {
      if(input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $("#imgPreview").attr("src", e.target.result).width(100).height(100);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#img").change(function(){
      readURL(this);
    });
  </script>
<%- include ("../layouts/adminfooter"); -%>